@use "variable" as *;

.fadein-animation {
  animation: fadeInAnimation both;
  animation-timeline: view(95% 10%);
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(150px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
