.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-inline {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-block {
  padding-top: 0;
  padding-bottom: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-inline {
  margin-left: 0;
  margin-right: 0;
}

.no-margin-block {
  margin-top: 0;
  margin-bottom: 0;
}

.no-border {
  border: none;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.inline-break {
  &::before {
    content: "\A";
    white-space: pre;
  }
}
