$primary-background-color: rgba(243, 242, 236, 1);
$primary-background-shade: rgba(237, 235, 228, 1);
$body-color: #111111;

$body-font: "Plus Jakarta Sans", sans-serif;
$header-font: "Prata", serif;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$desktophd-breakpoint: 1440px;
