@use "./variable" as *;
@use "./animation" as *;
@use "./menu" as *;
@use "./modifiers" as *;
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 25px;
}

body {
  background-color: $primary-background-color;
  font-family: $body-font;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $body-color;
  line-height: 1.45;
}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 1.4rem;
  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 1.6rem;
  }
}

picture,
img {
  display: block;
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
}

section {
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 25px 10px;
  overflow-x: hidden;

  @media (min-width: $tablet-breakpoint) {
    padding: 10px 25px 50px 25px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 10px 75px 50px 75px;
  }
}

.two-col-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-breakpoint) {
    flex-flow: row nowrap;
    & > div:first-child {
      flex: 1 1 50%;
    }
    & > div:nth-child(2) {
      flex: 1 1 50%;
    }
  }
}

.btn {
  display: inline-block;
  background-color: $btn-bg-color;
  color: $btn-text-color;
  font-family: $body-font;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 15px;
  transition: all 0.3s ease;

  &.btn-arrow {
    position: relative;
    padding-right: 55px;
    &:after {
      content: "";
      position: absolute;
      top: 53%;
      right: 15px;
      transform: translateY(-50%);
      width: 24px;
      height: 8px;
      background: url(/images/btn-arrow-white.svg) no-repeat center center /
        contain;
    }
  }

  &:hover {
    box-shadow: 0 0 12px $btn-bg-color;
  }
}

// .content {
//   margin-top: 50px;
// }

.text-content {
  padding: 25px 10px 0 10px;
  width: min(100%, 850px);
  margin: 0 auto;
  p:nth-child(n + 1) {
    padding-block: 10px;
    letter-spacing: 0.02rem;
    line-height: 1.55;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    padding: 25px 20px 0 20px;
  }
}

.wavy-underline {
  position: relative;
  &:after {
    content: "";
    background: url(/images/wavy-line.svg) no-repeat center / contain;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 46px;
    height: 5px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background-color: $primary-background-shade;
  height: 80vh;

  .hero-text {
    flex: 0 1 auto;

    hgroup {
      max-width: 426px;
      margin: 0 auto;
      > * {
        padding: 10px 0px;
      }
    }
  }
  .hero-image {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;

    img {
      max-height: 100%;
      width: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &.south-sudan {
    // height: auto;
    padding: 0;
    .hero-text {
      background-blend-mode: lighten;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      align-items: center;

      hgroup {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 626px;
        text-align: center;

        background: rgb(0, 0, 0);
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        z-index: 11;
      }
    }
    .swiper,
    .swiper-wrapper,
    .swiper-slide {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }

  &.book {
    .hero-text {
      hgroup {
        max-width: max(60%, 500px);
      }
    }
  }

  &.about {
    background: url(/images/paul-award.jpg) no-repeat center / cover;
    .hero-text {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      hgroup {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 626px;
        text-align: center;
        color: white;
        background: rgb(0, 0, 0);
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        z-index: 11;
      }
    }
  }
  @media screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
    height: 100vh;
    padding: 60px 20px;

    .hero-text {
      flex: 1;
    }
    .hero-image {
      flex: 1;
    }

    /* &.south-sudan {
      .swiper,
      .swiper-wrapper,
      .swiper-slide {
        height: auto;
        img {
          object-fit: contain;
          height: auto;
        }
      }
    } */
  }
}

.main-book {
  .main-book-image {
    max-width: 413px;
    margin: 0 auto;
  }
  > div {
    padding: 20px 0;
    &:first-child {
      order: 1;
    }
    &:last-child {
      order: 0;
    }
  }
  @media screen and (min-width: $tablet-breakpoint) {
    > div {
      &:first-child {
        order: 0;
      }
      &:last-child {
        order: 1;
      }
    }
  }
}

header {
  > * {
    padding: 10px 5px;
  }
  h1,
  h2,
  h3 {
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 300;
  }
  cite {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: $gray;
  }
}

.book-header {
  .synopsis {
    color: $gray;
  }
  footer {
    padding-top: 25px;
  }
}

#about-me {
  background: $primary-background-shade;
}

#visit-me {
  address {
    font-style: normal;
    color: $gray;
    p {
      padding: 5px 0;
    }
  }
}

#other-development {
  background: $primary-background-shade;

  .swiper {
    width: 100%;
    height: auto;
    padding-top: 25px;
  }
}

footer {
  padding: 50px;
  .logo {
    color: #0a0a0a;
    font-family: $header-font;
    font-size: 14px;
    font-weight: 200;

    span:first-child {
      font-weight: bold;
    }
    span:nth-child(2) {
      color: gray;
    }
  }
  &.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyright {
    padding-left: 15px;
    font-size: 0.75rem;
  }
}

.swiper-slide {
  aspect-ratio: 16 / 9;
}

.blockquote {
  padding-left: 2rem;
  padding-block: 20px;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin-inline: auto;
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;

  &::before,
  &::after {
    position: absolute;
    color: #777;
  }

  &::before {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='%23777777'><path d='M9.983 3v7.391C9.983 16.095 6.252 19.961 1 21l-.995-2.151C2.437 17.932 4 15.211 4 13H0V3h9.983zM24 3v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151C16.437 17.932 18 15.211 18 13h-3.983V3H24z'/></svg>");
    left: 0;
    top: -10%;
  }

  &::after {
    content: "";
    left: 5px;
    top: 25px;
    width: 1px;
    height: 100%;
    background-color: currentColor;
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 1rem;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    padding-block: 0;
  }
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px 20px;
  gap: 20px;
  .testimonial {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid rgba(17, 17, 17, 0.25);
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(17, 17, 17, 0.15);
    padding: 10px;
    position: relative;
    transition: box-shadow 0.5s ease-out;
    &::before {
      content: "\201D";
      position: absolute;
      top: -10%;
      left: 0;
      font-size: 5rem;
      color: rgba(17, 17, 17, 0.3);
    }

    &:hover {
      box-shadow: 0px 0px 15px rgba(17, 17, 17, 0.35);
    }
    h2 {
      font-weight: 500;
      font-size: 0.75rem;
      padding: 10px 0;
    }
    div {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;

    .testimonial {
      flex: 1;
      padding: 15px;
      width: calc(33.333% - 20px);
    }
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 20px 50px 50px 50px;
  }
}

.testimonial-layout {
  padding-block: 25px;
  position: relative;

  h3 {
    font-weight: 500;
    position: relative;
    padding-block: 10px 0;
    &:before {
      content: "”";
      position: absolute;
      top: -48%;
      left: 0;
      height: 100%;
      font-size: 5rem;
      color: rgba(17, 17, 17, 0.3);
    }
  }

  &:after {
    content: "";
    background: url(/images/wavy-line.svg) repeat-x center / contain;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 5px;
  }
}

.social-icons {
  max-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 5px;
  a {
    color: $gray;
    font-size: 2rem;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 12px #111111;
    }
  }
  img {
    height: 32px;
    max-height: 100%;
    width: auto;
  }
}
