@use "variable" as *;
@use "menu" as *;
@use "modifiers" as *;

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 25px;
}

body {
  background-color: $primary-background-color;
  font-family: $body-font;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $body-color;
  line-height: 1.45;
}

h1,
h2,
h3 {
  font-family: $header-font;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 1.6rem;
}

picture,
img {
  display: block;
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
}

section {
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px 25px 25px;

  @media (min-width: $tablet-breakpoint) {
    padding: 10px 50px 50px 50px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 10px 75px 50px 75px;
  }
}

.btn {
  display: inline-block;
  background-color: $btn-bg-color;
  color: $btn-text-color;
  font-family: $body-font;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 15px;
  transition: all 0.3s ease;

  &.btn-arrow {
    position: relative;
    padding-right: 55px;
    &:after {
      content: "";
      position: absolute;
      top: 53%;
      right: 15px;
      transform: translateY(-50%);
      width: 24px;
      height: 8px;
      background: url(./images/btn-arrow-white.svg) no-repeat center center /
        contain;
    }
  }

  &:hover {
    box-shadow: 0 0 12px $btn-bg-color;
  }
}

.content {
  margin-top: 50px;
}

.text-content {
  padding: 25px 20px 0 20px;
  width: min(90%, 850px);
  margin: 0 auto;
  p:nth-child(n + 1) {
    padding-block: 10px;
    letter-spacing: 0.02rem;
    line-height: 1.55;
  }
}

.wavy-underline {
  position: relative;
  &:after {
    content: "";
    background: url(./images/wavy-line.svg) no-repeat center / contain;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 46px;
    height: 5px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  background-color: $primary-background-shade;
  height: 100vh;

  .hero-text {
    flex: 1;
    padding-right: 20px;

    hgroup {
      max-width: 426px;
      margin: 0 auto;
      > * {
        padding: 10px 0px;
      }
    }
  }
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.main-book {
  .main-book-image {
    max-width: 413px;
    margin: 0 auto;
  }
  > div {
    padding: 20px 0;
  }
}

header {
  > * {
    padding: 10px 5px;
  }
  h1,
  h2,
  h3 {
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    font-weight: 300;
  }
  cite {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: $gray;
  }
}

.book-header {
  .synopsis {
    color: $gray;
  }
  footer {
    padding-top: 25px;
  }
}

#about-me {
  background: $primary-background-shade;
}

#visit-me {
  address {
    font-style: normal;
    color: $gray;
    p {
      padding: 5px 0;
    }
  }
}

#other-development {
  background: $primary-background-shade;

  .swiper {
    width: 100%;
    height: auto;
    padding-top: 25px;
  }
}

footer {
  padding: 50px;
  .logo {
    color: #0a0a0a;
    font-family: $header-font;
    font-size: 14px;
    font-weight: 200;

    span:first-child {
      font-weight: bold;
    }
    span:nth-child(2) {
      color: gray;
    }
  }
}
